<br>
<h3>Tickets registrados</h3>
<app-notificacion *ngIf="notificacion" [data]="notificacion"></app-notificacion>
<br>
<div class="table-responsive-lg">
  <table class="table table-hover" *ngIf="tickets.length > 0" aria-describedby="Lista de ticket creados">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Placa vehiculo</th>
        <th scope="col">Tipo Vehiculo</th>
        <th scope="col">Hora Entrada</th>
        <th scope="col">Hora Salida</th>
        <th scope="col">Total Pagado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
        <th scope="row">{{ ticket.id }}</th>
        <td>{{ ticket.placaVehiculo }}</td>
        <td>{{ ticket.tipoVehiculo  == 1 ? "Automovil" : "Motocicleta"  }}</td>
        <td>{{ ticket.horaEntrada }}</td>
        <td>{{ ticket.horaSalida }}</td>
        <td>{{ ticket.totalPagado | currency }}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="tickets == null || tickets.length == 0" class="alert alert-warning">
    ¡No hay tickets registrados en el sistema!
  </div>
</div>